#current-city {
    padding-top: 20px;
    font-family: "Caveat", cursive;
    font-weight: bolder;
    color: #45a7ca;
    font-size: 2.5rem;
    line-height: 1.2;
}
ul {
    margin: 0;
    padding: 0;
}
li {
    list-style: none;
    margin: 0;
    padding: 0;
    font-family: "Overpass", sans-serif;
    color: #fffbfa;
    font-size: 24px;
    
}
small {
    max-width: 700px;
}
input {
    background-color: #fffbfa;
    border-radius: 4px;
    border: none;
  }
#weather-app {
    max-width: 700px;
}
.weather-app-wrapper {
    max-width: 700px;
    margin: 0 auto;
}

#current-weather {
    color: white;
    font-size: 40pt;
    font-family: "Overpass", sans-serif;
}
#current-weather-icon {
    font-size: 40px;
    padding: 10px;
    border-radius: 50%;
    background-color: #9fe3ba;
    color: #fffbfa;
    border: double 2px white;
    
}
#search-box {
    float: right;
    margin: 10px 5px 20px 0;
    display: block;
  }
#submit-button {
    font-family: "Caveat", cursive;
    text-align: center;
    color: white;
    background:  #45a7ca;
  }
  #current-location {
  text-align: center;
  color: white;
  background:  #45a7ca;
  border: none;
  border-radius: 4px;
  height: 26px;
  }
  ::placeholder {
    font-family: "Caveat", cursive;
    text-align: center;
    color: #45a7ca;
  }
.weather-details li {
    font-size: 8pt;
    font-family: "Overpass", sans-serif;
    color: white;
}


/* #wind {
    font-size: 8pt;
    font-family: "Overpass", sans-serif;
    color: white;
}
#humidity {
    font-size: 8pt;
    font-family: "Overpass", sans-serif;
    color: white;
} */
#degrees {
    color: white;
}
#weather-saying {
    font-weight: 700;
    font-size: 30px;
    color: white;
    font-family: "Caveat", cursive;
    text-transform: capitalize;
}
.app-content{
    margin-top: 30px
}
.overview {
    margin-bottom: 40px;
}


